.column.left {
    float: left;
    width: 20%;
  }

  .column.middle {
    float: middle;
    width: 40%;
  }

  .column.right {
    float: left;
    width: 40%;
  }

.charsheet button[type="action"].statButton:hover {
    background-position: 0;
}
 
.charsheet button[type="action"].statButton.off {
    content: "";
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    border-style: none;
    background-color: transparent;
    margin-left: 0px;
    background-position: 0;
}
 
.charsheet button[type="action"].statButton.on {
    content: "";
    background-size: 24px 24px;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    border-style: none;
    background-color: transparent;
    margin-left: 0px;
    background-position: 0;
}
 
.charsheet button[type="action"].d4.off {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/d4_white.svg");
}
 
.charsheet button[type="action"].d4.on {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/d4_black.svg");
}
 
.charsheet button[type="action"].d6.off {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/d6_white.svg");
}
 
.charsheet button[type="action"].d6.on {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/d6_black.svg");
}
 
.charsheet button[type="action"].d8.off {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/d8_white.svg");
}
 
.charsheet button[type="action"].d8.on {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/d8_black.svg");
}
 
.charsheet button[type="action"].d10.off {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/d10_white.svg");
}
 
.charsheet button[type="action"].d10.on {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/d10_black.svg");
}
 
.charsheet button[type="action"].d12.off {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/d12_white.svg");
}
 
.charsheet button[type="action"].d12.on {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/d12_black.svg");
}

.charsheet .hidden {
    display: none;
}

.charsheet button[type="action"].editIcon {
    background-image: url("https://raw.githubusercontent.com/Germophile/ArchiaCharSheet/main/images/edit-icon-pencil.svg");
    content: "";
    background-size: 15px 15px;
    background-repeat: no-repeat;
    width: 9px;
    height: 9px;
    border-style: none;
    background-color: transparent;
    margin-left: 0px;
    background-position: -15;
    padding: 10px;
    margin-top: 0px;
}

.charsheet  input.editing[value="false"] ~ div.editor {
    display: none
}

.charsheet  input.source:not([value="divine"]) ~ div.editor > span.divine {
    display: none
}

.charsheet  input.source:not([value="profane"]) ~ div.editor > span.profane {
    display: none
}

.charsheet  input.source:not([value="arcane"]) ~ div.editor > span.arcane {
    display: none
}

.charsheet  input.source:not([value="primeval"]) ~ div.editor > span.primeval {
    display: none
}

.charsheet  input.source:not([value="mundane"]) ~ div.editor > span.mundane {
    display: none
}

.charsheet  input.type:not([value="Augmentation"]) ~ div.editor > span.Augmentation {
    display: none
}
